<?xml version="1.0"?>
<robot name="dsr-m1013">

  <!-- Links -->
  <link name="base">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
      <material name="blue">
        <color rgba="0 0 0.8 1"/>
      </material>
    </visual>
  </link>

  <link name="base_0">
    <inertial>
      <origin xyz="-0.000012 -0.00006 0.050723" rpy="0 0 0"/>
      <mass value="3.722"/>
      <inertia ixx="0.011" ixy="-0.000007" ixz="-0.000002" iyy="0.011" iyz="0.000005" izz="0.014"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
      <material name="dr_gray">
        <color rgba="0.5 0.5 0.5 1"/>
      </material>
    </visual>
  </link>

  <link name="link1">
    <inertial>
      <origin xyz="0.00007 0.044281 0.143327" rpy="0 0 0"/>
      <mass value="7.446"/>
      <inertia ixx="0.039" ixy="0.000021" ixz="-0.000036" iyy="0.023" iyz="-0.003" izz="0.039"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
      <material name="dr_white">
        <color rgba="0.5 0.5 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </collision>
  </link>

  <link name="link2">
    <inertial>
      <origin xyz="-0.000016 0.189372 0.418558" rpy="0 0 0"/>
      <mass value="10.569"/>
      <inertia ixx="0.82" ixy="0.000012" ixz="-0.000263" iyy="0.82" iyz="-0.008" izz="0.031"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
      <material name="dr_white">
        <color rgba="0.5 0.5 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0"/>
      </geometry>
    </collision>
  </link>

  <link name="link3">
    <inertial>
      <origin xyz="0.000006 0.07917 0.781807" rpy="0 0 0"/>
      <mass value="3.614"/>
      <inertia ixx="0.012" ixy="-0.000004" ixz="-0.000001" iyy="0.008" iyz="0.002" izz="0.011"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
      <material name="dr_white">
        <color rgba="0.5 0.5 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </collision>
  </link>

  <link name="link4">
    <inertial>
      <origin xyz="-0.000021 0.12337 1.148" rpy="0 0 0"/>
      <mass value="3.785"/>
      <inertia ixx="0.177" ixy="-0.000002" ixz="-0.000005" iyy="0.161" iyz="-0.05" izz="0.022"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
      <material name="dr_white">
        <color rgba="0.5 0.5 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </collision>
  </link>

  <link name="link5">
    <inertial>
      <origin xyz="-0.000017 0.06662 1.33103" rpy="0 0 0"/>
      <mass value="2.598"/>
      <inertia ixx="0.007" ixy="-0.000005" ixz="-0.000006" iyy="0.004" iyz="-0.000066" izz="0.007"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
      <material name="dr_white">
        <color rgba="0.5 0.5 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </collision>
  </link>

  <link name="link6">
    <inertial>
      <origin xyz="-0.000174 0.034708 1.40022" rpy="0 0 0"/>
      <mass value="1.128"/>
      <inertia ixx="0.001" ixy="-0.000003" ixz="0.000006" iyy="0.001" iyz="-0.000007" izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
      <material name="dr_gray">
        <color rgba="0.5 0.5 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </collision>
  </link>

  <link name="flange">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
      <material name="blue">
        <color rgba="0 0 0.8 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </collision>
  </link>

  <link name="end_effector">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
      <material name="blue">
        <color rgba="0 0 0.8 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </collision>
  </link>

  <!-- Joints -->
  <joint name="fixed" type="fixed">
    <parent link="base"/>
    <child link="base_0"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="0" friction="0"/>
  </joint>

  <joint name="joint1" type="revolute">
    <parent link="base_0"/>
    <child link="link1"/>
    <origin xyz="0 0 0.1525" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-6.283185" upper="6.283185" effort="30" velocity="2.094395"/>
    <dynamics damping="0" friction="0"/>
  </joint>

  <joint name="joint2" type="revolute">
    <parent link="link1"/>
    <child link="link2"/>
    <origin xyz="0 0.0345 0" rpy="0 -1.571 -1.571"/>
    <axis xyz="0 0 1"/>
    <limit lower="-6.283185" upper="6.283185" effort="30" velocity="2.094395"/>
    <dynamics damping="0" friction="0"/>
  </joint>

  <joint name="joint3" type="revolute">
    <parent link="link2"/>
    <child link="link3"/>
    <origin xyz="0.62 0 0" rpy="0 0 1.571"/>
    <axis xyz="0 0 1"/>
    <limit lower="-2.792527" upper="2.792527" effort="30" velocity="3.141593"/>
    <dynamics damping="0" friction="0"/>
  </joint>

  <joint name="joint4" type="revolute">
    <parent link="link3"/>
    <child link="link4"/>
    <origin xyz="0 -0.559 0" rpy="1.571 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-6.283185" upper="6.283185" effort="30" velocity="4.45059"/>
    <dynamics damping="0" friction="0"/>
  </joint>

  <joint name="joint5" type="revolute">
    <parent link="link4"/>
    <child link="link5"/>
    <origin xyz="0 0 0" rpy="-1.571 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-6.283185" upper="6.283185" effort="30" velocity="4.45059"/>
    <dynamics damping="0" friction="0"/>
  </joint>

  <joint name="joint6" type="revolute">
    <parent link="link5"/>
    <child link="link6"/>
    <origin xyz="0 -0.121 0" rpy="1.571 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-6.283185" upper="6.283185" effort="30" velocity="4.45059"/>
    <dynamics damping="0" friction="0"/>
  </joint>

  <joint name="flange" type="fixed">
    <parent link="link6"/>
    <child link="flange"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="0" friction="0"/>
  </joint>

  <joint name="end_effector" type="fixed">
    <parent link="flange"/>
    <child link="end_effector"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="0" friction="0"/>
  </joint>

</robot>